{% extends "overseer/base.html" %}

{% block content %}
    <table>
        <tbody>
            <tr>
                <td class="status status-{{ service.status }}">{{ service.get_status_display }}</td>
                <td class="service">
                    <h2><a href="{% url overseer:service service.slug %}">{{ service.name }}</a></h2>
                    {% if service.description %}
                        <p>{{ service.description }}</p>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    {% if event_list %}
        <div class="event-list">
            <h3>Recent Events</h3>
            <ul>
                {% for event in event_list %}
                    <li class="event status-{{ event.status }}">
                        <p>{{ event.description }}</p>
                        <time>{{ event.date_updated|timesince }}</time>
                        <span class="affects">affects {% for slug, name in event.get_services %}<a href="{% url overseer:service slug %}">{{ name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}